@charset "UTF-8";
.home-content .manager-product {
    width: 97%;
    background: #fff;
    padding: 20px 30px;
    margin: 10px 20px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
}

.manager-product .title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    border-bottom: 1px solid slategray;
}
.add-product .section-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    border-bottom: 1px solid slategray;
}
.add-product {
    background: #fff;
    padding: 20px 30px; /* Tăng padding để tạo khoảng cách với khung */
    border-radius: 12px; /* Bo tròn góc */
    border: 1px solid #ccc; /* Thêm khung */
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%); /* Thêm bóng đổ */
}

.add-product .input-container .form-control {
    width: calc(100% - 20px); /* Đặt độ rộng của input thành 100% */
    max-width: 100%; /* Giới hạn chiều dài tối đa cho trường input */
    box-sizing: border-box;
    margin-bottom: 10px; /* Giữ khoảng cách giữa các trường input */
}
.first-class{
    background: #fff;
    padding: 20px 30px; /* Tăng padding để tạo khoảng cách với khung */
    border-radius: 12px; /* Bo tròn góc */
    border: 1px solid #ccc; /* Thêm khung */
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%); /* Thêm bóng đổ */
}
.second-class{
    background: #fff;
    padding: 20px 30px; /* Tăng padding để tạo khoảng cách với khung */
    border-radius: 12px; /* Bo tròn góc */
    border: 1px solid #ccc; /* Thêm khung */
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%); /* Thêm bóng đổ */
}
.description{
    background: #fff;
    padding: 20px 30px; /* Tăng padding để tạo khoảng cách với khung */
    border-radius: 12px; /* Bo tròn góc */
    border: 1px solid #ccc; /* Thêm khung */
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%); /* Thêm bóng đổ */
}
.description .descript {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    border-bottom: 1px solid slategray;
}

#thumbimage {
    border-radius: 0.357rem;
    object-fit: contain;
    background: white;
}

.removeimg {
    height: 25px;
    position: absolute;
    background-repeat: no-repeat;
    left: 5px;
    background-size: 25px;
    margin-top: 60px;
    width: 25px;
    /* border: 3px solid red; */
    border-radius: 50%;
}


.removeimg::after {
    /* color: #FFF; */
    /* background-color: #DC403B; */
    content: '';
    background: red;
    border: 1px solid red;
    text-align: center;
    transform: rotate(-45deg);
    margin-top: -2px;
    display: block;
}

.removeimg::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    content: '';
    border: 1px solid red;
    background: red;
    text-align: center;
    margin-top: 11px;
    transform: rotate(45deg);
    display: block;
}
/* Căn giữa nội dung trong tất cả các ô của bảng */
.table th,
.table td {
    text-align: center;
    vertical-align: middle;
}

/* Định dạng cột sản phẩm */
.table .product-column {
    display: flex;
    align-items: center;
    justify-content: start;
}

/* Định dạng ảnh và tên sản phẩm */
.table .product-column img {
    margin-right: 10px;
    max-width: 100px;
    max-height: 100px;
    display: inline-block;
}

.table .product-column .product-name {
    white-space: nowrap; /* Giữ tên sản phẩm không bị xuống dòng */
    overflow: hidden;
    text-overflow: ellipsis;
}
.contact-text {
    color: red;
    font-weight: bold;
}
.dropdown-item {
    padding: 8px 12px;
}
.dropdown-item label {
    cursor: pointer;
}
.dropdown-item input[type="checkbox"] {
    margin-right: 8px;
}







